/.vscode
/data/nginx/vhost.d/
/data/ssl/
/data/shared/
/workspace/
/.env
/*.env
!example.env
/data/skeleton/
/wip/
/site
node_modules/
/tests/test-results/
/tests/playwright-report/
/tests/blob-report/
/tests/playwright/.cache/
/.idea/
.DS_Store
/scripts/aliases

