[primary]
type=server
address=database-mariadb-primary
port=3306
protocol=MariaDBBackend

[replica1]
type=server
address=database-mariadb-replica
port=3306
protocol=MariaDBBackend

[MariaDB-Monitor]
type=monitor
module=mariadbmon
servers=primary,replica1
user=root
password=nextcloud

[RW-Split-Router]
type=service
router=readwritesplit
servers=primary,replica1
user=root
password=nextcloud

[RW-Split-Listener]
type=listener
service=RW-Split-Router
protocol=MariaDBClient
port=3306
