name: 'Docker Publish'

on:
  schedule:
    - cron: '0 2 * * *'
  pull_request:
  push:
    branches:
      - master


jobs:
  push_to_registry:
    name: Build image
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        container:
          - php82
          - php81
          - php80
          - php74
          - php73
          - php72
          - php71
          - push
          - saml
          - nginx
          - elasticsearch
          - mailhog
          - ldap
          - lookupserver
          - smb
          - codedev
          - code
    permissions:
      packages: write
      contents: read
    steps:
      - name: Check out the repo
        uses: actions/checkout@v4
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Cache Docker layers
        uses: actions/cache@v3
        with:
          path: /tmp/.buildx-cache
          key: ${{ matrix.container }}-buildx-${{ github.sha }}
          restore-keys: |
            ${{ matrix.container }}-buildx-
      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Available platforms
        run: echo ${{ steps.buildx.outputs.platforms }}
      - name: Set dockerfile path
        id: dockerfile
        run: |
          NAME="${{ matrix.container }}"
          DOCKERFILE=$([[ -f "docker/$NAME/Dockerfile" ]] && echo "docker/$NAME/Dockerfile" || echo "docker/Dockerfile.$NAME")
          echo "DOCKERFILE=$DOCKERFILE" >> $GITHUB_OUTPUT
      - name: Build container image
        uses: docker/build-push-action@v4
        with:
          push: false
          context: docker/
          platforms: linux/amd64,linux/arm64
          file: ${{ steps.dockerfile.outputs.DOCKERFILE }}
          tags: |
            ghcr.io/juliushaertl/nextcloud-dev-${{ matrix.container }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
      - name: Push container image
        uses: docker/build-push-action@v4
        if: github.ref == 'refs/heads/master'
        with:
          push: true
          context: docker/
          platforms: linux/amd64,linux/arm64
          file: ${{ steps.dockerfile.outputs.DOCKERFILE }}
          tags: |
            ghcr.io/juliushaertl/nextcloud-dev-${{ matrix.container }}
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache-new
      - name: Move cache
        run: |
          rm -rf /tmp/.buildx-cache
          mv /tmp/.buildx-cache-new /tmp/.buildx-cache


